.answers {
    width: 400px;
    height: 80px;
    border: 1px solid black;
    border-radius: 0.3em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
}

.left span, .down span {
    margin-right: 0.6em;
}

.left span:nth-child(2) {
    text-decoration: none;
    color: black;
    font-size: 1.05em;
    padding: 0.2em;
    cursor: pointer;
}

.left span:nth-child(2):hover {
    background-color: aqua;
    border-radius: 0.3em;
    padding: 0.2em;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
}

.right span:nth-child(2) {
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: 1.05em;
    padding: 0.2em;
}

.right span:nth-child(2):hover {
    background-color: aqua;
    border-radius: 0.3em;
    padding: 0.2em;
}

.left span, .right span {
    color: rgb(180, 51, 12);
}

.correctAnswerStyle {
    padding: 0.2em;
    background-color: rgb(77, 174, 8);
    border-radius: 0.3em;
}

.correctAnswerStyle:hover {
    background-color: rgb(77, 174, 8)!important;
}

.errorMessage {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.errorMessage span:first-child{
    color: rgb(251, 46, 0);
    font-size: 1.1em;
}

.errorMessage span:nth-child(2) {
    color: rgb(77, 174, 8);
    font-size: 1.1em;
    margin-left: 0.5em;
}

.loadNewQuestion {
    color: rgb(251, 46, 0);
    font-size: 1.1em;
    margin-left: 7em;
    padding: 0.1em;
}

.loadNewQuestion:hover {
    background-color: rgb(60, 60, 176);
    border-radius: 0.3em;
    cursor: pointer;
    padding: 0.1em;
}