<div class="answers">
    <div class="up">
            <p><span>A: </span><span (click)="checkAnswer">{{arrayWithCoutriesForAnswers[0]}}</span></p>
            <p><span>C: </span><span (click)="checkAnswer">{{arrayWithCoutriesForAnswers[1]}}</span></p>
    </div>
    <div class="down">
        <p><span>B: </span><span (click)="checkAnswer">{{arrayWithCoutriesForAnswers[2]}}</span></p>
        <p><span>D: </span><span (click)="checkAnswer">{{arrayWithCoutriesForAnswers[3]}}</span></p>
    </div>
</div>