.answers {
    width: 400px;
    height: 80px;
    border: 1px solid black;
    border-radius: 0.3em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
}

.left span, .down span {
    margin-right: 0.6em;
}

.left span:nth-child(2) {
    text-decoration: none;
    color: black;
    font-size: 1.05em;
    padding: 0.2em;
    cursor: pointer;
}

.left span:nth-child(2):hover {
    background-color: aqua;
    border-radius: 0.3em;
    padding: 0.2em;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
}

.right span:nth-child(2) {
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: 1.05em;
    padding: 0.2em;
}

.right span:nth-child(2):hover {
    background-color: aqua;
    border-radius: 0.3em;
    padding: 0.2em;
}

.left span, .right span {
    color: rgb(180, 51, 12);
}