<ng-container *ngIf="errorMessage">
    <p class="errorMessage"><span>{{errorMessage}}</span><span>{{correctAnswer}}</span></p>
</ng-container>

<div class="answers">
    <div class="left">
        <p><span>A: </span><span [ngClass]="{ 'correctAnswerStyle': selectedOption === 'A' && checkIfAnswerIsCorrect}" #optionA (click)="errorMessage ? null : checkAnswer(optionA.textContent, 'A')">{{arrayWithCoutriesForAnswers[0]}}</span></p>
        <p><span>C: </span><span [ngClass]="{ 'correctAnswerStyle': selectedOption === 'C' && checkIfAnswerIsCorrect}" #optionC (click)="errorMessage ? null : checkAnswer(optionC.textContent, 'C')">{{arrayWithCoutriesForAnswers[1]}}</span></p>
    </div>
    <div class="right">
        <p><span>B: </span><span [ngClass]="{ 'correctAnswerStyle': selectedOption === 'B' && checkIfAnswerIsCorrect}" #optionB (click)="errorMessage ? null : checkAnswer(optionB.textContent, 'B')">{{arrayWithCoutriesForAnswers[2]}}</span></p>
        <p><span>D: </span><span [ngClass]="{ 'correctAnswerStyle': selectedOption === 'D' && checkIfAnswerIsCorrect}" #optionD (click)="errorMessage ? null : checkAnswer(optionD.textContent, 'D')">{{arrayWithCoutriesForAnswers[3]}}</span></p>
    </div>
</div>
